<!-- Header -->
<div id="header">
  <span class="logo icon fa-diamond"></span>
  <h1>Who are the Ruby Villains?</h1>
  <p>The Ruby Villain Award is a tongue-in-cheek, heartfelt award
  <br />
  given to those who create amazing bugs, atrocious hacks, and astounding disasters.
  <br />
  <br />
  It is for the people who have changed our way of looking at code, who've inspired us,
  <br />
  and who've made us stop and catch our breath at the audacity of their efforts.</p>
</div>
