<%= render partial: 'shared/header' %>

<!-- Main -->
<div id="main">

  <header class="major container 75%">
    <h2>We conduct experiments that
      <br />
      may or may not seriously
      <br />
      break the universe</h2>
  </header>

  <header id="villains" class="major container 75%">
    <h2>The Villains</h2>
  </header>

  <div class="box alt container">
    <%= render partial: 'villains/villain', collection: @villains[0..3] %>

    <section class="feature left">
      <div class="content">
        <h3><%= link_to "More Villains", villains_path %></h3>
      </div>
    </section>
  </div>

  <header id="lairs" class="major container 75%">
    <h2>Evil Lairs</h2>
  </header>

  <div class="box alt container">

    <section id="nil-roulette" class="feature left">
      <a href="https://github.com/ohwillie/nil_roulette" class="image icon"><div class="roulette"></div></a>
      <div class="content">
        <h3><a href="https://github.com/ohwillie/nil_roulette">Nil Roulette</a></h3>
        <h4>by <a href="https://github.com/ohwillie">ohwillie</a></h4>
        <p>
        Tired of getting NoMethodErrors when you call a method on nil? Is it just too hard to figure out what's really wrong? With nil_roulette, those problems are a thing of the past! nil_roulette will fairly choose a recipient for an unknown method call and just pass the buck. Who needs to know?
        </p>
        <p><a href="https://www.flickr.com/photos/cmogle/3526750763">spin by conorwithonen</a>, <a href="http://creativecommons.org/licenses/by/2.0/">CC BY</a>
      </div>
    </section>
    <section id="ben_string" class="feature right">
      <a href="https://github.com/bleything/ben_string" class="image icon"><div class="knot"></div></a>
      <div class="content">
        <h3><a href="https://github.com/bleything/ben_string">Ben String</a></h3>
        <h4>by <a href="https://github.com/bleything">bleything</a></h4>
        <p>
          Ever wanted a String that was a little more...personal? Ever wanted to be unsure about what is actually happening? Then you need BenString.
        </p>
        <p><a href="https://www.flickr.com/photos/gabepopa/14605341837">knot by gabe popa</a>, <a href="http://creativecommons.org/licenses/by/2.0/">CC BY</a>
      </div>
  </div>

  <footer class="box container 75%">
    <h3>Stay up to date</h3>
    <p>
    For people who've always wanted to know where the latest Ruby evil lairs are hidden.
    </p>
    <ul class="actions">
      <li><a href="https://twitter.com/RubyVillains" class="button">Follow on Twitter</a></li>
    </ul>
  </footer>

</div>

<%= render partial: 'shared/footer' %>
