<!-- Header -->
<div id="header">
  <span class="logo icon fa-diamond"></span>
  <h1>Who are the Ruby Villians?</h1>
  <p>The Ruby Villain Award is a tongue-in-cheek, heartfelt award
  <br />
  given to those who create amazing bugs, atrocious hacks, and astounding disasters.
  <br />
  <br />
  It is for the people who have changed our way of looking at code, who've inspired us,
  <br />
  and who've made us stop and catch our breath at the audacity of their efforts.</p>
</div>

<!-- Main -->
<div id="main">

  <header class="major container 75%">
    <h2>We conduct experiments that
      <br />
      may or may not seriously
      <br />
      break the universe</h2>
  </header>

  <div class="box alt container">
    <section id="the-whydler" class="feature right">
      <a href="http://mislav.uniqpath.com/poignant-guide/" class="image icon"><div class="the-whydler"></div></a>
      <div class="content">
        <h3>The Whydler</h3>
        <p>
          Questions, questions, always asking questions! The Whydler's Poignant Guide is a common gateway into the world that is the Ruby Underworld, which makes the Whydler our faceless, nameless gatekeeper. All hail the chunky bacon!
        </p>
      </div>
    </section>
    <section id="dr-tenderlove" class="feature left">
      <a href="https://twitter.com/tenderlove" class="image icon"><div class="dr-tenderlove"></div></a>
      <div class="content">
        <h3>Dr. Tenderlove</h3>
        <p>
        Rumored to be a top technical secret agent for an unknown government bent on global destruction, Dr. Tenderlove serves as a top advisor for multiple Ruby projects. His secret goal is to sereptitiously improve the performance of code across a wide range of areas, all while covering his tracks by distracting us with cat pictures and funny puns.
        </p>
      </div>
    </section>
    <section id="the-hatter" class="feature right">
      <a href="https://twitter.com/hone2" class="image icon"><div class="hatter"></div></a>
      <div class="content">
        <h3>The Hatter</h3>
        <p>
        The Hatter can easily be identified by the appearance of his unique blue hat. Beware - he will almost certainly try to collect groups of friends to enjoy each other's company, most likely utilizing bonding via Karaoke.
        </p>
      </div>
    </section>
    <section id="boo" class="feature left">
      <a href="https://twitter.com/itsboodog" class="image icon"><div class="boo"></div></a>
      <div class="content">
        <h3>Boo</h3>
        <p>
        Boo spends most of his day attempting to sneak up on innocent Italian plumbers, and generally causing trouble. Any code that Boo writes is suspect. In fact, I'm not sure Boo can even type properly on a keyboard.
        </p>
      </div>
    </section>
    <section id="jonan-the-barbarian" class="feature right">
      <a href="https://twitter.com/1337807" class="image icon"><div class="jonan-the-barbarian"></div></a>
      <div class="content">
        <h3>Jonan the Barbarian</h3>
        <p>
        Jonan the Barbarian, Conan's evil brother, can easily be distinguished by his loud laugh and penchant for playing Magic the Gathering. In fact, he might turn your code into a program that plays Magic the Gathering. Or crush your soul with cute robots that learn how to love.
        </p>
      </div>
    </section>
    <section id="the-prophet" class="feature left">
      <a href="https://twitter.com/sandimetz" class="image icon"><div class="the-prophet"></div></a>
      <div class="content">
        <h3>The Prophet</h3>
        <p>
          Her influence is undeniable. Her rules are law. No one escapes the declarations of The Prophet.
        </p>
      </div>
    </section>
    <section id="sailor-mercury-soldier" class="feature right">
      <a href="https://twitter.com/sailorhg" class="image icon"><div class="sailor-hg"></div></a>
      <div class="content">
        <h3>Sailor Mercury Soldier</h3>
        <p>
          As part of the supernatural Sailor Soldiers, Sailor Mercury uses her intelligence and adorable outfits to outwit and outfight those standing in her way. Her only goal -- infuse computers with the cuteness they deserve and switch all sorting algorithms to Bubble Sort.
        </p>
      </div>
    </section>
    <section id="lord-zen-spyder" class="feature left">
      <a href="https://twitter.com/the_zenspider" class="image icon"><div class="lord-zen-spyder"></div></a>
      <div class="content">
        <h3>Lord Zen Spyder</h3>
        <p>
          Lord Zen Spyder hates your code. Yes. Yours.
        </p>
      </div>
    </section>
    <section id="zzap-and-ginger" class="feature right">
      <a href="https://twitter.com/_zzak" class="image icon"><div class="zzap-and-ginger"></div></a>
      <div class="content">
        <h3>Zzap and Ginger</h3>
        <p>
          Zzap is a criminal mastermind that controls the power of electricity with his hair. His henchcat Ginger augments this gingery super power. Together they are unstoppable.
        </p>
      </div>
    </section>
    <section id="grimm-teacher" class="feature left">
      <a href="https://twitter.com/avdi" class="image icon"><div class="grimm-teacher"></div></a>
      <div class="content">
        <h3>Grimm Teacher</h3>
        <p>
          Devoting his life to instructing others on the way of the Ruby, the Grimm Teacher provides us with the mystical incantations required to develop truly magnificient sorcery.
        </p>
      </div>
    </section>
  </div>

  <footer class="box container 75%">
    <h3>Stay up to date</h3>
    <p>
    For people who've always wanted to know where the latest Ruby evil lairs are hidden.
    </p>
    <ul class="actions">
      <li><a href="https://twitter.com/RubyVillains" class="button">Follow on Twitter</a></li>
    </ul>
  </footer>

</div>

<!-- Footer -->
<div id="footer">
  <div class="container 75%">

    <header class="major last">
      <h2>Subscribe to our mailing list</h2>
    </header>

    <p>We promise to only notify you with decidedly villainous news!</p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//tamingrails.us7.list-manage.com/subscribe/post?u=cee7bfd0d8aa0fce715070679&amp;id=45e523faff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email address">
          </div><br>

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_cee7bfd0d8aa0fce715070679_45e523faff" tabindex="-1" value=""></div>

          <div class="clear">
            <input type="submit" value="Sign me up!" name="subscribe" id="mc-embedded-subscribe"></input>
          </div>
        </div>
      </form>
    </div>

    <!--End mc_embed_signup-->


    <ul class="copyright">
      <li>&copy; RubyVillains.com 2015 </li>
      <li>Design: <a href="http://html5up.net/directive">HTML5 UP</a></li>
    </ul>

  </div>
</div>
