@import 'vars';

header.major h2 {

  color: $red;
}

.feature .image {

  div {
    width: 100%;
    height: 100%;
  }
  .dr-tenderlove {
    background: url('/images/dr_tenderlove.jpg') no-repeat center center;
    background-size: contain;
  }
  .hatter {
    background: url('/images/the_hatter.png') no-repeat center center;
    background-size: contain;
  }
}
