@import 'vars';
@import 'mixins';

@media (max-width: 1680px) {

  /* Basic */

  body, input, select, textarea {
    font-size: 14pt;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  /* Section/Article */

  header {
    &.major {
      p {
        font-size: 1.25em;
      }
    }
  }

  /* Header */

  #header {
    padding: 8em 0 16em 0;

    h1 {
      font-size: 2.25em;
    }

    p {
      font-size: 1.25em;
      line-height: 1.65em;
    }
  }
}
