
@import 'vars';
@import 'mixins';

@media (max-width: 480px) {

  /* Section/Article */

  header {
    &.major {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  footer {
    &.major {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  /* List */

  ul {
    &.icons {
      li {
        padding: 0.2em;
      }
    }

    &.actions {
      li {
        display: block;
        padding: 15px 0 0 0;

        &:first-child {
          padding: 0;
        }
      }
    }
  }

  /* Button */

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .button {
    display: block;
    width: 100%;
  }	

  /* Box */

  .box {
    padding: 2em 1em;
  }

  /* Feature */

  .feature {
    margin-bottom: 1em;

    .content {
      padding: 2em 1em !important;
    }
  }

  /* Main */

  #main {
    padding-left: 1em;
    padding-right: 1em;
  }

  /* Footer */

  #footer {
    margin-top: -100px;
    padding-left: 1em;
    padding-right: 1em;

    .copyright {
      li {
        border: 0;
        display: block;
        margin: 0;
        padding: 0.75em 0 0 0;
      }
    }
  }

  /* Header */

  #header {
    padding-left: 2em;
    padding-right: 2em;

    br {
      display: none;
    }
  }
}
