@import 'vars';

header.major h2 {

  color: $red;
}

.feature .image {

  div {
    width: 100%;
    height: 100%;
  }

  /* VILLAINS */
  .the-hidden-samurai {
    background: url('/images/villains/Matz_the_hidden_samurai.jpg') no-repeat center center;
    background-size: contain;
  }
  .the-whydler {
    background: url('/images/villains/why.png') no-repeat center center;
    background-size: contain;
  }
  .dr-tenderlove {
    background: url('/images/villains/dr_tenderlove.jpg') no-repeat center center;
    background-size: contain;
  }
  .hatter {
    background: url('/images/villains/the_hatter.png') no-repeat center center;
    background-size: contain;
  }
  .booboo {
    background: url('/images/villains/boo.png') no-repeat center center;
    background-size: contain;
  }
  .the-prophet {
    background: url('/images/villains/the_prophet.jpg') no-repeat center center;
    background-size: contain;
  }
  .sailor-hg {
    background: url('/images/villains/sailorhg.jpg') no-repeat center center;
    background-size: contain;
  }
  .jonan-the-barbarian {
    background: url('/images/villains/jonan_the_barbarian.jpg') no-repeat center center;
    background-size: contain;
  }
  .lord-zen-spyder {
    background: url('/images/villains/lord_zen_spyder.jpg') no-repeat center center;
    background-size: contain;
  }
  .zzap-and-ginger {
    background: url('/images/villains/zzap.jpg') no-repeat center center;
    background-size: contain;
  }
  .grimm-teacher {
    background: url('/images/villains/grimm_teacher.jpg') no-repeat center center;
    background-size: contain;
  }
  .jeggernaut {
    background: url('/images/villains/jeggernaut.jpg') no-repeat center center;
    background-size: contain;
  }
  .purr-programmer {
    background: url('/images/villains/purr_programmer.jpg') no-repeat center center;
    background-size: contain;
  }

  /* LAIRS */

  .roulette {
    background: url('/images/lairs/roulette.jpg') no-repeat center center;
    background-size: contain;
  }
  .knot {
    background: url('/images/lairs/knot.jpg') no-repeat center center;
    background-size: contain;
  }

}
